.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.bg {
	height: 384px;
	width: 486px;
}
.result-text {
	color: #242b30;
	font-size: 36px;
	font-weight: 600;
	line-height: 36px;
	margin: 20px 0 30px 0;
}
.tips {
	font-weight: 400;
	font-size: 28px;
	color: #6a7377;
	line-height: 42px;
	width: 500px;
	text-align: center;
}