.container {
  display: flex;
	align-items: center;
}
.bg {
	width: 460px;
	height: 384px;
	margin-top: 20px;
}
.result-text {
	color: #242b30;
	font-size: 36px;
	font-weight: 600;
	line-height: 36px;
	margin: 20px 0 30px 0;
}
.tips {
	font-weight: 400;
	font-size: 28px;
	color: #6a7377;
	line-height: 42px;
	width: 500px;
	text-align: center;
}
.button {
	width: 400px;
	height: 88px;
	background: #ffffff;
	border: 2px solid #ff9423;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 32px;
	color: #ff9423;
	line-height: 32px;
	margin-top: 60px;
}